@import url(MAKET_FORM-media.css);

label {
    width: 180px;
    display: inline-block;
    padding-top: 5px;
}

.listRubrika {
    display: inline-block;
}

.public br {
    display: none;
}

.public {
    display: inline;
}

textarea {
    width: 100%;
}

input[type="checkbox"] {
    margin: 0;
}

.name label {
    float: left;
    width: 8em;
}
.nametext {
    margin-left: 11.4em
}