@media screen and (max-width:1000px) {

    div.public,
    div.listRubrika {
        display: block;
    }

    div.listRubrika br {
        display: none;
    }

    div.public br {
        display: block;
    }
    br {
        display: none;
    }
    .form textarea {
        width: 100%;
    }

    div.nametext {
        margin-left: 0;
    }

    div.name label {
        float: none;
    }
    
}