@media screen and (max-width:500px) {
    footer div.footer ul{
        position: relative;
         float: none;
         margin-left: 5em;

    }
    footer div.footer .svg-footer{
        display: none;
    }

    header  div.header .logo-title-left span{
        display: none;
    }
}

@media screen and (max-width:900px) {
    .video-block {
        display: none;
    }
   

    div.header .logo-title-left {
        float: none;
        display: block;
        text-align: center;
        padding-right: 35px;
    }

    div.header .logo-title-right {
        display: inline-block;
 }


    .vide-block {
        margin: 80px 50px 50px 80px;
    }

    .vide-block img {
        float: none;
        width: 300px;
        margin: 8px 5px 5px 8px;
    }

    div.vide-block td {
        font-size: 1.5em;
    }
}