@keyframes animation {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

.animation {
    animation: animation 20s infinite;
    transform: rotate(90deg);
    position: relative;
    width: 50px;
    height: 40px;
}