@media screen and (max-width:800px) {

    .imgHead {
        display: none;
    }

    .header {
        font-size: 75%;
        background-image: url(img/backAdapt.jpg);
    }

    div.hero {
        width: 30%;
        display: inline-block;
        font-size: 25px;
    }

    div.leftMenu {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    div.leftMenu ol {
        text-align: left;
        padding: 5px 70px 0px 70px;
    }

    div.content {
        width: 100%;

    }

    div .img {
        width: 100px;

    }

    div .imgMenu {
        width: 74%;
    }


}

@media screen and (max-width:600px) {
    div.hero {
        font-size: 15px;
    }
    div.leftMenu {
        font-size: 15px;
    }
}